{% extends 'article/base.html' %}

{% block title %}
  课时列表
{% endblock %}

{% block content %}
  <div>
    <div class="text-center">
      <h1>{{ course.title }}</h1>
      <p>课程课时列表</p>
    </div>
    <table class="table table-hover">
      <tr>
        <td>序号</td>
        <td>课时标题</td>
        <td>发布日期</td>
      </tr>
      {% for lesson in course.lesson.all %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'course:detail_lesson' lesson.id %}">{{ lesson.title }}</a></td>
          <td>{{ lesson.create_time | date:"Y-m-d" }}</td>
        </tr>
      {% empty %}
        <p>对不起，该课程还没有发布</p>
      {% endfor %}
    </table>
  </div>
{% endblock %}