{% extends 'base.html' %}
{% load article_tags %}

{% block title %}
  文章列表
{% endblock %}

{% block content %}
  <div>
    <div class="row text-center">
      <h1>阅读，丰富头脑，善化行为</h1>
      <p>目前已有{% total_articles %}篇文章</p>
    </div>
    <div class="container">
      {% for article in articles %}
        <div class="list-group">
          <a href="{{ article.get_url_path }}" class="list-group-item active">
            <h4 class="list-group-item-heading">{{ article.title }}</h4></a>
          <p class="list-group-item-text">作者：<a
                  href="{% url 'article:list_article_titles' %}?username={{ article.author.username }}">{{ article.author.username }}</a>
          </p>
          <p class="list-group-item-text">摘要：{{ article.body | slice:'70' | markdown }}</p>
        </div>
      {% endfor %}
    </div>
    {% include 'paginator.html' %}
  </div>
{% endblock %}
