{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
  修改密码
{% endblock %}

{% block centent %}
  <div class="row text-center">
    <h1>修改密码</h1>
    <p>请输入原密码和新密码来修改密码</p>
    {% if form.new_password1.help_text|safe %}
      <div class="text-left col-sm-offset-4">
        <p>{{ form.new_password1.help_text|safe }}</p>
      </div>
    {% endif %}
    <form class="form-horizontal" action="{% url 'account:password_change' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}"
               class="col-sm-2 col-sm-offset-2 control-label">{{ form.old_password.label_tag }}</label>
        <div class="col-sm-4">
          {% render_field form.old_password class='form-control' placeholder='请输入旧密码' %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}"
               class="col-sm-2 col-sm-offset-2 control-label">{{ form.new_password1.label_tag }}</label>
        <div class="col-sm-4">
          {% render_field form.new_password1 class='form-control' placeholder='请输入新密码' %}
        </div>
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}"
               class="col-sm-2 col-sm-offset-2 control-label">{{ form.new_password2.label_tag }}</label>
        <div class="col-sm-4">
          {% render_field form.new_password2 class='form-control' placeholder='请确认新密码' %}
        </div>
      </div>
      <div class="form-group">
        <div class="text-right col-sm-4 col-sm-offset-4">
          <input type="submit" class="btn btn-default" value="提交">
        </div>
      </div>
    </form>
  </div>
{% endblock %}