{% load staticfiles %}
<nav class="navbar navbar-default navbar-head">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'blog:blog_title' %}">
        <img src="{% static 'images/logo.png' %}" width="100px">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>
        <li><a href="{% url 'article:list_article_titles' %}">文章</a></li>
        <li><a href="#">关于</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                {{ user.username }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{% url 'account:password_change' %}">修改密码</a></li>
                <li><a href="{% url 'account:my_information' %}">个人信息</a> </li>
                <li><a href="{% url 'article:article_column' %}">后台管理</a> </li>
              </ul>
            </div>
          </li>
          <li><a href="{% url 'account:user_logout' %}">退出登录</a></li>
        {% else %}
          <li><a href="{% url 'account:user_login' %}">登录/注册</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>